<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <div class="search-box">
      <input type="text" placeholder="Search in docquity" />
      <i class="material-icons">search</i>
    </div>
  </div>

  <div class="navbar-center">
    <div class="nav-item">
      <i class="material-icons">home</i>
      <span>Home</span>
    </div>
    <div class="nav-item">
      <i class="material-icons">videocam</i>
      <span>Webinar</span>
    </div>
    <div class="nav-item">
      <i class="material-icons">calendar_today</i>
      <span>Calendar</span>
    </div>
    <div class="nav-item">
      <i class="material-icons">notifications</i>
      <span>Notifications</span>
    </div>
  </div>

  <div class="navbar-right">
    <button class="post-button">+ Post</button>
    <div class="user-profile">
      <img src="assets/person.jpg" alt="User" class="avatar" />
      <span>Aaron</span>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </div>
</nav>
